<span fxLayoutAlign="center center" class="item">
  <mat-icon [color]="iconColor" [class]="'mat-icon-' + iconSize">call</mat-icon>
  <span class="px-1">(+224) 623 327 130 </span>
</span>
@if (dividers) {
  <span class="v-divider" fxShow="false" fxShow.gt-xs></span>
}
<span fxLayoutAlign="center center" class="item" fxShow="false" fxShow.gt-xs>
  <mat-icon [color]="iconColor" [class]="'mat-icon-' + iconSize">location_on</mat-icon>
  <span class="px-1">Coleah</span>
</span>
@if (dividers) {
  <span class="v-divider" fxShow="false" fxShow.gt-xs></span>
} 
<span fxLayoutAlign="center center" class="item" fxShow="false" fxShow.gt-sm>
  <mat-icon [color]="iconColor" [class]="'mat-icon-' + iconSize">mail</mat-icon>
  <span class="px-1">neshabahaba&#64;gmail.com</span>
</span>
